<h1>Projects Index Page</h1>

<% @projects.each do |project| %>
    <h2><%= link_to project.title, project_path(project) %></h2>
    <p><%= project.created_at.strftime('%A, %B %d') %></p>
<% end %>

<%= link_to 'New Project', new_project_path %>